* {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* Navbar Styling */
.flexboxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: .25rem;
}

.logo {
  margin-right: auto;
  margin-left: 2rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.search {
  align-self: center;
  margin: 1rem;
}

.mainLinksContainer {
  display: flex;
  flex-direction: row;
}
/* end of navbar styles */

.article {
  margin: '20px';
}